@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Plus Jakarta Sans', sans-serif;
    
    --color-black: #18181B;

    --gradient-shadow: linear-gradient(89.97deg, #4484FF , #44B0FF, #FF44EC, #44A5FF, #F2FF5E);
}